<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus>
  </header>

  <section class="main">
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <hb-todos todos="{{todos}}"></hb-todos>
  </section>

  <footer class="footer"></footer>
</section>

<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>Written by <a href="https://github.com/mateusmaso">Mateus Maso</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
